@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
body {
  font-family: "Poppins", sans-serif !important;
}
.singUp__page {
  height: 300px !important;
  background-image: url("./assets/signUp.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.model__card {
  width: 300px !important;
  border: 1px solid #ccc;
  border-radius: 5px !important;
}
